.interface-interface-skeleton__content {
  overflow-x: hidden;
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
  @apply mt-0 text-base px-8 py-4 border-b-[1px] border-gray-300 flex gap-2 #{!important};
  &::before {
    content: 'Page title: ';
    font-weight: 700;
  }
  h1 {
    margin: 0;
    @apply text-base font-normal;
  }
}
