@keyframes vertical-line {
  from {
    height: 0;
  }
  to {
    height: 98%;
  }
}

@keyframes horizontal-line {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 3%);
  }
}

.hide-on-mobile {
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

.reverse {
  flex-wrap: wrap-reverse !important;
}

:root {
  @media screen and (max-width: 400px) {
    --logo-size: 0.65;
  }
  @media screen and (min-width: 401px) and (max-width: 800px) {
    --logo-size: 0.8;
  }
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    --logo-size: 1;
  }
  @media screen and (min-width: 1201px) {
    --logo-size: 1.5;
  }
}

.logo {
  @apply ml-[-50vw] mr-[-50vw] left-1/2 right-1/2 max-w-[unset] relative w-screen;
  canvas {
    // width: 600px !important;
    // height: auto !important;
  }
}
