---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Services from "@components/services.astro";
import Spacing from "@components/spacing.astro";
import ContactSection from "@components/contact-section.astro";
import WhyMeSection from "@components/why-me-section.astro";
import ClientReviewsSection from "@components/client-reviews-section.astro";
import TechStackSection from "@components/tech-stack-section.astro";
---

<Layout title="">
  <Container>
    <Spacing />
  </Container>
  <Container>
    <Hero />
    <Spacing />
  </Container>
  <Container>
    <Features />
    <Spacing />
    <div id="services"></div>
  </Container>
  <Container>
    <Services />
    <Spacing />
    <div id="reviews"></div>
  </Container>
    <ClientReviewsSection />
    <Spacing />
    <div id="why-me"></div>
  <Container>
    <WhyMeSection />
    <Spacing />
    <div id="tech-stack"></div>
  </Container>
  <Container>
    <TechStackSection />
    <Spacing />
    <Spacing />
  </Container>
</Layout>
