.hero {
}

.title {
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.img {
  @apply w-[380px] h-[380px] rounded-full;
  @media screen and (max-width: 500px) {
    width: 80%;
    height: auto;
  }
}
