---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Listen to your business idea / problem",
    description:
      "In this step you're sharing the details of your project and I'm developing a plan of attack. We work out a list of milestones with precise descriptions, deadlines and prices",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Pick a programming language for the backend",
    description:
      'I analyze what problem I\'m dealing with and select the most effective tool for the job. <a href="#">Here</a> you can see what languages I work with',
    icon: "bx:bxs-window-alt",
  },
  {
    title:
      "Pick a set of managed cloud tools, like databases, file storage etc, or deploy my own",
    description:
      "I identify the best tools for the job and optimize their usage to make sure you pay only for what you use",
    icon: "bx:bxs-data",
  },
  {
    title: "Spin up cloud infrastructure to host the application",
    description:
      "I use Terraform and Kubernetes to create robust and reproducible infrastructure",
    icon: "bx:bxs-bot",
  },
  {
    title: "Set up CI/CD",
    description: "Talk about why CI/CD is useful",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Develop the backend and the frontend",
    description: "Talk about how I develop it all professionally",
    icon: "bx:bxs-user",
  },
  {
    title: "Deliver milestones and new features according to the plan",
    description:
      "Talk about how the customer is able to see the changes live at any time and I always inform them",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What my workflow looks like
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-indigo-600 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p
            class="text-slate-500 mt-2 leading-relaxed"
            set:html={item.description}
          />
        </div>
      </div>
    ))
  }
</div>
