<div class="mt-24 text-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">My services</h2>
  <p class="text-lg mt-4 text-slate-600">
    Don't know what exactly you need? Let's talk.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-3">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <picture>
        <source
          srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_ZIfUrc.avif"
          type="image/avif"
        /><source
          srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_Z1VcUNt.webp"
          type="image/webp"
        />
        <img
          src="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_ZgktxF.png"
          alt="Feature image"
          class="h-full w-full object-contain"
          loading="lazy"
          width="1280"
          height="800"
          decoding="async"
        />
      </picture>
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Frontend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Backend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Infrastructure</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>DevOps</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>Web app/SaaS development</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Empowering businesses with robust, scalable web apps and SaaS solutions, tailored to your specific needs and built for high performance.
        </span>
      </p>
    </div>
  </div>
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-2">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <picture>
        <!-- <source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_ZIfUrc.avif" -->
        <!--   type="image/avif" -->
        <!-- /><source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_Z1VcUNt.webp" -->
        <!--   type="image/webp" -->
        <!-- /> -->
        <img
          src="/src/assets/2.avif"
          alt="Feature image"
          class="h-full w-full object-contain"
          loading="lazy"
          width="1280"
          height="800"
          decoding="async"
        />
      </picture>
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Backend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>DevOps</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>Backend development</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Building a solid backbone for applications ensuring security, efficiency, and scalability at every level.</span
        >
      </p>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-2">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <img
        src="https://astroship-pro.web3templates.com/_astro/integrations.HhfHOMQB.svg"
        alt="Feature image"
        class="h-full w-full object-contain"
        loading="lazy"
        width="909"
        height="823"
        decoding="async"
      />
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Backend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Frontend</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>API integrations</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Seamlessly connecting systems, delivering smooth and secure data exchange for enhanced functionality.</span
        >
      </p>
    </div>
  </div>
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-3">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <picture>
        <img
          src="/src/assets/1.jpg"
          alt="Feature image"
          class="h-full w-full object-contain"
          loading="lazy"
          width="1280"
          height="800"
          decoding="async"
        />
      </picture>
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Backend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Frontend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Hosting</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Design</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>Website development (e-commerce, landing page, blog)</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Crafting stunning websites that captivate and convert audiences, offering customized e-commerce sites, landing pages, and dynamic blogs.</span>
      </p>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-3">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <picture>
        <!-- <source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_ZIfUrc.avif" -->
        <!--   type="image/avif" -->
        <!-- /><source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_Z1VcUNt.webp" -->
        <!--   type="image/webp" -->
        <!-- /> -->
        <img
          src="/src/assets/3.png"
          alt="Feature image"
          class="h-full w-full object-contain"
          loading="lazy"
          width="1280"
          height="800"
          decoding="async"
        />
      </picture>
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>DevOps</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Infrastructure</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>Infrastructure & DevOps development</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Optimizing operations, streamlining processes for scalable, reliable, and resilient systems.</span>
      </p>
    </div>
  </div>
  <div
    class="rounded-2xl p-8 bg-gray-50 transition-all ring-1 ring-gray-200/50 shadow hover:shadow-lg lg:col-span-2">
    <div
      class="overflow-hidden flex items-start justify-center h-auto relative lg:h-80">
      <div
        class="absolute inset-0 bg-gradient-to-t from-gray-50 via-transparent z-10">
      </div>
      <picture>
        <!-- <source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_ZIfUrc.avif" -->
        <!--   type="image/avif" -->
        <!-- /><source -->
        <!--   srcset="https://astroship-pro.web3templates.com/_astro/2.ldT67BXv_Z1VcUNt.webp" -->
        <!--   type="image/webp" -->
        <!-- /> -->
        <img
          src="/src/assets/4.png"
          alt="Feature image"
          class="h-full w-full object-contain"
          loading="lazy"
          width="1280"
          height="800"
          decoding="async"
        />
      </picture>
    </div>
    <div class="mt-2">
      <div class="flex gap-2 flex-wrap">
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Backend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>Frontend</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>DevOps</span>
        </span>
        <span
          class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
          <span>API</span>
        </span>
      </div>
      <h3 class="text-xl lg:text-2xl font-medium mt-2">
        <span>Custom WordPress themes & plugins</span>
      </h3>
      <p class="text-slate-600 mt-2 [text-wrap:balance]">
        <span>
          Enhancing WordPress sites with custom themes and plugins tailored to specific needs, combining beauty and functionality for a standout web presence.</span
        >
      </p>
    </div>
  </div>
</div>
