---
// @ts-ignore
import { Icon } from "astro-icon";

---
<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <!-- <span
        class="bg-purple-100 border-purple-200 border text-purple-600 rounded-full text-xs font-medium px-3 py-1">
        MORE FEATURES
      </span> -->
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
    Why me?
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    Through my years of experience and constant reflection about my successes
    and failures I've developed my own manifest on what makes great software.
  </p>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
      <Icon class="text-indigo-500" name="fa:diamond" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">High quality end product</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Delivering top-notch, meticulously crafted solutions that meet your specific requirements and exceed your expectations.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="healthicons:dollar" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Predictable price</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Estimating projects as precisely as possible to ensure pricing remains consistent and predictable throughout the development process.      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="text-indigo-500"
        data-icon="fluent:box-24-regular">
        <symbol id="ai:fluent:box-24-regular"
          ><path
            fill="currentColor"
            d="M10.591 2.513a3.75 3.75 0 0 1 2.818 0l7.498 3.04A1.75 1.75 0 0 1 22 7.175v9.653a1.75 1.75 0 0 1-1.093 1.621l-7.498 3.04a3.75 3.75 0 0 1-2.818 0l-7.498-3.04A1.75 1.75 0 0 1 2 16.827V7.176a1.75 1.75 0 0 1 1.093-1.622zm2.254 1.39a2.25 2.25 0 0 0-1.69 0L9.24 4.68l7.527 2.927l2.669-1.03zm1.846 4.505L7.215 5.5L4.59 6.564l7.411 2.882zM3.5 16.828a.25.25 0 0 0 .156.231l7.499 3.04c.031.013.063.025.095.036v-9.371L3.5 7.75zm9.345 3.271l7.499-3.04a.25.25 0 0 0 .156-.232V7.774l-7.75 2.992v9.37a2.18 2.18 0 0 0 .095-.036"
          ></path></symbol
        >
        <use xlink:href="#ai:fluent:box-24-regular"></use>
      </svg>
    </div>
    <div>
      <h3 class="font-semibold text-lg">Fast, continuous delivery</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Implementing rapid development cycles to provide regular updates and continuous delivery, keeping your project on schedule.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="ic:round-business" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">I deeply care about your business</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Committed to understanding your unique business needs and goals, ensuring solutions are perfectly aligned with your vision.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="heroicons-solid:lightning-bolt" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Efficient implementation</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Utilizing smart technology choices and best practices to ensure efficient, smooth, and seamless implementation.</p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="bi:people-fill" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Transparent communication</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Maintaining open and honest communication throughout the project, ensuring you are always informed and involved.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="ic:round-person" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">I take care of everything</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Providing end-to-end service, handling every aspect of your project from inception to deployment and beyond.</p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="ic:round-developer-board-off" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">No AI generated code</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Ensuring high-quality, hand-crafted code, guaranteeing reliability and performance.</p>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
    <div
      class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon class="text-indigo-500" name="mdi:test-tube" />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Thorough testing</h3>
      <p class="text-slate-500 mt-2 leading-relaxed">
        Conducting extensive testing at every stage of development to ensure your product is reliable, secure, and bug-free.
      </p>
    </div>
  </div>
</div>
